.anyClass {
  height:1000px;
  overflow-y: scroll;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 100px;
	width: 100px;
	background-image: none;
}

.carousel-control-next-icon:after {
	content: '>';
	font-size: 40px;
	color: black;
}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 40px;
	color: black;
}

.imgidol {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	margin-top: 5px;
	opacity: 1;
	transition: 0.3s;
}

.imgidol:hover {
	opacity: 0.6
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.singleprod:hover {
	border: 1px solid #ccc;
	box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.singleprod {
	float: left;
	width: 22%;
	height: 300px;
	margin-left: 10px;
}

.imgprop {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	border: 1px solid #e0e0e0;
	margin-top: 5px;
}

.infodisplay {
	font-size: 13px;
}

.textbox {
	width: 85%;
	margin-left: 4%;
}

.prodcontainer {
	width: 75%;
	float: right;
}

.parallax {
	/* The image used */
	background-image: url("../../resources/images/Footer/index.jpg");
	/* Set a specific height */
	min-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.backtext {
	color: #FFF;
	font-size: 40px;
}

.backcont {
	margin-left: 50px;
	padding-top: 50px;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}

@media screen and (max-width: 600px) {
	table#cart tbody td .form-control {
		width: 20%;
		display: inline !important;
	}
	.actions .btn {
		width: 36%;
		margin: 1.5em 0;
	}
	.actions .btn-info {
		float: left;
	}
	.actions .btn-danger {
		float: right;
	}
	table#cart thead {
		display: none;
	}
	table#cart tbody td {
		display: block;
		padding: .6rem;
		min-width: 320px;
	}
	table#cart tbody tr td:first-child {
		background: #333;
		color: #fff;
	}
	table#cart tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 8rem;
	}
	table#cart tfoot td {
		display: block;
	}
	table#cart tfoot td .btn {
		display: block;
	}
}